<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/modal.js"></script>
</head>
<body>
<!-- 모달 창 -->
<div id="userModal" class="modal">
    <!-- 모달 컨텐츠 -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>사용자 프로필</h2>
<!--        <img src="profile.jpg" alt="프로필 사진" style="width:100px;height:100px;">-->
        <p class="nickname"><b>닉네임:</b> </p>
        <p class="introduction"><b>자기소개:</b> </p>
    </div>
</div>
</body>
</html>