body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f9f9f9; /* 배경색 */
    color: #333; /* 기본 글자색 */
    line-height: 1.6; /* 줄 간격 */
    display: flex; /* 플렉스 박스 사용 */
    flex-direction: column; /* 수직 방향으로 요소 배치 */
    align-items: center; /* 중앙 정렬 */
    justify-content: center; /* 센터 정렬 */
    /*min-height: 100vh; !* 최소 높이를 뷰포트 높이로 설정 *!*/
}

/* 섹션 타이틀 */
.py-5.text-center {
    padding: 30px 0; /* 상하 패딩 */
    text-align: center; /* 중앙 정렬 */
}

h2 {
    color: #333; /* 제목 색상 */
    margin-bottom: 20px; /* 제목과 내용 사이 간격 */
}

/* 입력 폼 스타일 */
.form-control {
    width: 600px; /* 폭 */
    padding: 20px; /* 패딩 */
    border: 1px solid #ddd; /* 테두리 색상 */
    border-radius: 4px; /* 테두리 둥글기 */
    margin-bottom: 10px; /* 하단 마진 */
    align-items: center;
    text-align: center;
}

label {
    display: block; /* 블록 레벨 요소로 표시 */
    font-weight: bold; /* 굵은 글씨 */
    margin-bottom: 5px; /* 라벨과 입력 필드 사이 간격 */
    text-align: center; /* 라벨 중앙 정렬 */
}

/* 버튼 스타일 */
.btn-primary {
    background-color: #25cff2; /* 배경색 */
    color: white; /* 글자색 */
    border: none; /* 테두리 제거 */
    padding: 10px 15px; /* 패딩 */
    border-radius: 4px; /* 테두리 둥글기 */
    text-decoration: none; /* 링크 밑줄 제거 */
    display: block; /* 블록 레벨 요소로 표시 */
    transition: background-color 0.3s; /* 배경색 전환 효과 */
    margin: 0 auto; /* 자동 마진으로 중앙 정렬 */
}

.btn-primary:hover {
    background-color: #0056b3; /* 호버시 배경색 */
}

/* 구분선 스타일 */
hr.my-4 {
    border-top: 1px solid #eee; /* 색상 */
    width: 30%; /* 너비 */
    margin: 20px auto; /* 자동 마진으로 중앙 정렬 */
}
