/* 전체적인 스타일 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

/* 섹션 타이틀 스타일 */
.py-5.text-center {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

/* 라벨 스타일 */
label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

/* 입력 필드 스타일 */
input[type="text"].form-control, input[type="file"].file {
    width: 300px; /* 적절한 너비 설정 */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 버튼 스타일 */
.btn {
    display: block;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #343a40;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* 구분선 스타일 */
hr.my-4 {
    border-top: 1px solid #eee;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
