<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Testy Pie</title>
  <!-- jQuery 라이브러리 추가 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<div>
  <form id="loginForm">

    <div class="main">
      <p class="sign" align="center"> Testy Pie</p>
      <form class="form1">
        <input class="un " type="text" id="account" placeholder="아이디">
        <input class="pass" type="password" id="password" placeholder="비밀번호">
        <button type="submit" class="submit">로그인</button>
        <p class="forgot" align="center"><a
            href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=58c7ccd47e3b71e699a7c7d0c56341e5&redirect_uri=http://localhost:8080/home/kakao-login/callback">
          <img src="../static/images/kakao_login_medium.png" alt="카카오 로그인 이미지"></a></p>

      </form>
    </div>
  </form>
</div>
</body>
<script>
  $(document).ready(function () {
    $("#loginForm").submit(function (event) {
      event.preventDefault();
      var account = $("#account").val();
      var password = $("#password").val();

      $.ajax({
        type: "POST",
        url: "/api/users/login", // 서버 측 로그인 URL
        contentType: "application/json",
        data: JSON.stringify({
          account: account,
          password: password
        }),
        success: function (response, textStatus, xhr) {
          // JWT 토큰을 응답 헤더에서 추출
          var token = xhr.getResponseHeader("Authorization");
          if (token) {
            // 로컬 스토리지에 토큰 저장
            localStorage.setItem("jwtToken", token);
            localStorage.setItem("account", account);
          }
          alert("로그인 되었습니다")
          console.log("로그인 성공:", response);
          window.location.href = "/home"; // 메인 페이지로 리디렉션
        },
        error: function (xhr, status, error) {
          console.log("로그인 실패:", error);
        }
      });
    });
  });
</script>
</html>