<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../../../../../../../week2/TestyPie/src/main/resources/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 800px;
        }
    </style>
</head>

<body>	<!-- body 없어도 무방 -->
<div layout:fragment="content">
    <div class="container">
        <div class="py-5 text-center">
            <h2>상품 목록</h2>
        </div>

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${productList}">
                    <td><a href="product.html" th:href="@{/api/category/{parent_name}/{children_id}/products/{productId}
                                                    (productId=${product.id}, parent_name=${product.parentCategoryName()}
                                                    , children_id=${product.childCategoryId()})}"
                           th:text="${product.id}">ID</a></td>
                    <td><a href="product.html" th:href="@{/api/category/{parent_name}/{children_id}/products/{productId}
                                                    (productId=${product.id}, parent_name=${product.parentCategoryName()}
                                                    , children_id=${product.childCategoryId()})}"
                           th:text="${product.title}">상품명</a></td>
                    <td th:text="${product.content}">1</td>
                    <td th:text="${product.account}">1</td>
                </tr>
                </tbody>
            </table>
        </div>

        <a th:href="@{/api/category/{parentName}/{childId}/products(parentName=${parentCategory_name}, childId=${childCategory_id})}" class="btn btn-primary">상품 추가</a>
            <div class="d-grid gap-2 col-6 mx-auto">

            </div>
        </div>
    </div>
</div>
</body>
</html>
