<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/category.js"></script>
    <script src="/js/getNewToken.js"></script>
    <script>
        function checkUserhasAccessToken() {
            var jwtToken = localStorage.getItem("jwtToken");
            return !!jwtToken;
        }

        if (!checkUserhasAccessToken()) {
            // 여기에서 로그인 페이지로 리디렉트하거나 경고를 표시할 수 있습니다.
            alert("로그인 후 이용해주세요.");
            window.location.href = '/login'; // 로그인 페이지로 리디렉트
        }

    </script>
</head>
<body th:attr="data-account=${account}">
<!-- section Start -->
<div th:replace="fragments/header :: headerFragment"></div>
    <div class="py-5 text-center">
        <h2><span th:text="${profile.nickname}"></span>님의 프로필</h2>
    </div>

<div>
    <label for="email">이메일</label>
    <input type="text" id="email" name="email" class="form-control form-control-sm" value="1" th:value="${profile.email}" disabled>
</div>
<div>
    <label for="nickname">닉네임</label>
    <input type="text" id="nickname" name="nickname" class="form-control form-control-sm" value="1" th:value="${profile.nickname}" disabled>
</div>
<div>
    <label for="description">자기소개</label>
    <input type="text" id="description" name="description" class="form-control form-control-sm" value="1" th:value="${profile.description}" disabled>
</div>

<div>
    <label for="description">프로필 사진</label>
    <img id="profileImage" name="profileImage" class="form-control form-control-sm" th:src="${profile.fileUrl}" disabled>
</div>

<hr class="my-4">

<a th:href="@{/api/users/{account}/update(account=${account})}" class="btn btn-primary">프로필 수정하기</a>
<!-- 추가: 프로필 등록 제품 보기 버튼 -->
<a th:href="@{/api/users/{account}/myProducts(account=${account})}" class="btn btn-primary">등록한 테스트 게시글 보기</a>

<a th:href="@{/api/users/{account}/joinProducts(account=${account})}" class="btn btn-primary">피드백 작성한 테스트 게시글 보기</a>
<!-- section END -->
</body>
</html>