<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/category.js"></script>
    <script src="/js/getNewToken.js"></script>
    <script>
        checkUserhasAccessToken()
    </script>
</head>
<body>
<!-- section Start -->
<div th:replace="fragments/header :: headerFragment"></div>
    <div class="py-5 text-center">
        <h2><span th:text="${profile.nickname}"></span>님의 프로필</h2>
    </div>

<div>
    <label for="email">이메일</label>
    <input type="text" id="email" name="email" class="form-control form-control-sm" value="1" th:value="${profile.email}" disabled>
</div>
<div>
    <label for="nickname">닉네임</label>
    <input type="text" id="nickname" name="nickname" class="form-control form-control-sm" value="1" th:value="${profile.nickname}" disabled>
</div>
<div>
    <label for="description">자기소개</label>
    <input type="text" id="description" name="description" class="form-control form-control-sm" value="1" th:value="${profile.description}" disabled>
</div>

<div>
    <label for="description">프로필 사진</label>
    <img id="profileImage" name="profileImage" class="form-control form-control-sm" th:src="${profile.fileUrl}" disabled>
</div>

<hr class="my-4">

<a th:href="@{/api/users/{account}/update(account=${account})}" class="btn btn-primary">프로필 수정하기</a>

<!-- section END -->
</body>
</html>