<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/updateProfile.css">
</head>
<body th:attr="data-account=${account}">
<!-- section Start -->
<div class="py-5 text-center">
    <h2>프로필 수정</h2>
</div>

<div>
    <label for="password">비밀번호</label>
    <input type="text" id="password" name="password" class="form-control form-control-sm">
</div>
<div>
    <label for="email">이메일</label>
    <input type="text" id="email" name="email" class="form-control form-control-sm">
</div>
<div>
    <label for="nickname">닉네임</label>
    <input type="text" id="nickname" name="nickname" class="form-control form-control-sm">
</div>
<div>
    <label for="description">자기소개</label>
    <input type="text" id="description" name="description" class="form-control form-control-sm">
</div>
<div>
    <label for="description">프로필 사진</label>
    <input class="file" type="file" name="image" accept="image/*" id="image">
</div>

<hr class="my-4">

<button class="btn btn-dark" id="saveBtn" type="button">수정내용 저장</button>

<!-- section END -->
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("#saveBtn").click(function () {
            if (confirm("프로필을 수정하시겠습니까?")) {
                var account = $('body').data('account');
                var url = "/api/users/" + account + "/update";

                var formData = new FormData();

                // 'req' 객체에 JSON 데이터를 객체로 추가
                formData.append('req', new Blob([JSON.stringify({
                    password: $("#password").val(),
                    email: $("#email").val(),
                    nickname: $("#nickname").val(),
                    description: $("#description").val()
                })], {type : 'application/json'}));

                // 이미지 파일을 'file' 키에 추가
                var imageFile = $('#image')[0].files[0];
                if (imageFile) {
                    formData.append('file', imageFile);
                }

                $.ajax({
                    type: "PATCH",
                    url: url,
                    data: formData,
                    processData: false,  // jQuery가 데이터를 처리하지 않도록 설정
                    contentType: false,  // 적절한 multipart/form-data 경계를 설정하도록 jQuery에게 맡김
                    success: function (response) {
                        console.log("프로필 수정 성공:", response);
                        alert("프로필이 수정되었습니다.");
                        window.location.href = "/api/users/" + account;
                    },
                    error: function (error) {
                        console.error("프로필 수정 오류:", error);
                    }
                });
            }
        });
    });
</script>
</html>